<!-- Sidebar -->
 {% load static %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
   <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'error_dashboard' %}">
    <div class="rotate-n-15">
        <div style="background-color: white; border-radius: 50%; width: 50px; height: 50px; display: flex; align-items: center; justify-content: center; overflow: hidden; box-sizing: border-box;">
            <img src="{% static 'img/logo.png' %}" width="40" height="40" style="max-width: 80%; max-height: 80%; object-fit: contain;">
        </div>
    </div>
     <div class="sidebar-brand-text mx-3">COOP XML CHECKER</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-exclamation-triangle"></i>
            <span>Erros Uploaded</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Error Status:</h6>
                <a class="collapse-item {% if request.GET.status == 'pending' %}active{% endif %}" href="?status=pending">Pending Errors</a>
                <a class="collapse-item {% if request.GET.status == 'resolved' %}active{% endif %}" href="?status=resolved">Resolved Errors</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-calendar"></i>
            <span>Batch History</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Batch History:</h6>
                <a class="collapse-item active recent-errors-trigger" href="#">Current Errors</a>
                <a class="collapse-item" href="{% url 'batch_history' %}">Previously Errors</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    

    <!-- Heading -->
    <div class="sidebar-heading">
        Helper
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
            aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-comments"></i>
            <span>Help Desk</span>
        </a>
        <div id="collapsePages" class="collapse {% if 'documentation' in request.path %}show{% endif %}" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Desk Details:</h6>
                <a class="collapse-item {% if 'documentation' in request.path %}active{% endif %}" href="{% url 'documentation' %}">Documentation</a>
                <a class="collapse-item" href="#" id="sidebarGenerateReport">Generate Report</a>
                 <a class="collapse-item {% if 'documentation' in request.path %}active{% endif %}" href="{% url 'coop_validator' %}">Coop Validator</a>
                    
                <div class="collapse-divider"></div>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->